<!-- navbar -->
<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid col-md-10">
        <img src="/images/menu-icon.svg" class="menu-icon" onclick="sidenavToggle()" alt="menu">
        <a class="navbar-brand" href="#">
            <p class="nav-website-name">VideoStream</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% if (!isAuthenticated) { %>
                    <li class="nav-item mx-2">
                        <a class="nav-link nav-login-btn text-center" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-signup-btn text-center" href="/signup">Signup</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <div class="history-wrapper d-flex flex-row align-items-center justify-content-center">
                                <img src="/images/history-icon.svg" class="history-icon" alt="hsitory-icon">
                                <a class="history-a" aria-current="page" href="/watch-history">History</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <button onclick="getNotifications()"
                                class="dropdown-notification-btn dropdown-toggle d-flex align-items-center justify-content-center"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="notification-icon" src="/images/notification-icon.svg" alt="notifications">
                            </button>
                            <ul class="dropdown-menu" id="unread-notifications">

                            </ul>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link nav-upload-btn text-center" href="/upload">Upload</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link nav-logout-btn text-center" href="/logout">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav> -->
<!-- end navbar -->
<div class="header-start d-flex flex-row">
    <div class="side-navbar-menu d-flex align-items-center" id="side-navbar-menu">
        <img src="/images/menu-icon.svg" class="menu-icon" onclick="sidenavToggle()" alt="menu">
    </div>
    <div class="header-website d-flex align-items-center justify-content-center">
        <a href="/">
            <p class="header-website-name">VideoStream</p>
        </a>
    </div>
    <div class="header-search-bar"></div>
    <div class="header-upload d-flex align-items-center justify-content-center">
        <button onclick="goToUploadVideoPage()" class="header-upload-btn d-flex flex-row align-items-center justify-content-center">
            <img src="/images/add.svg" class="header-add-icon" alt="add-icon">
            <p class="header-upload-btn-text">Upload Video</p>
        </button>
    </div>
    <div class="header-notification d-flex align-items-center justify-content-center">
        <div class="header-notification-counter">
            <%= notificationLength %>
        </div>
        <div class="dropdown header-notification-dropdown">
            <button onclick="getNotifications()" class="header-notification-dropdown-btn" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="/images/notification.svg" class="header-notification-icon" alt="notification">
            </button>
            <ul class="dropdown-menu" id="unread-notifications">

            </ul>
        </div>
    </div>
    <div class="header-myprofile"></div>
</div>
<script>

    const sidenavToggle = () => {
        const sidenav = document.getElementById("sidenav");
        const contentWrapper = document.getElementById("content-wrapper");
        const sidenavmenu = document.getElementById("side-navbar-menu");
        const sidenavItems = document.getElementsByClassName("sidenav-item");
        const sidenavTexts = document.getElementsByClassName("sidenav-text");
        const sidenavIcons = document.getElementsByClassName("sidenav-icon");

        sidenav.classList.toggle("side-navbar");
        sidenav.classList.toggle("side-navbar-collapse");
        sidenavmenu.classList.toggle("side-navbar-menu");
        sidenavmenu.classList.toggle("side-navbar-menu-collapse");
        contentWrapper.classList.toggle("content-wrapper");
        contentWrapper.classList.toggle("content-wrapper-collapse");

        for (let i = 0; i < sidenavItems.length; i++) {
            const sidenavItem = sidenavItems[i];
            const sidenavText = sidenavTexts[i];
            const sidenavIcon = sidenavIcons[i];

            sidenavItem.classList.toggle("sidenav-item-collapse");
            sidenavIcon.classList.toggle("sidenav-icon-collapse");
            sidenavText.classList.toggle("sidenav-text-collapse");
        }
    }

    const goToUploadVideoPage = () => {
        window.location.href = '/upload';
    }

    function readNotification(element) {
        const notificationId = element.getAttribute("data-id");
        fetch("http://localhost:3000/read-notification", {
            method: "POST", headers: {
                "Content-Type": "application/json"
            }, body: JSON.stringify({ notificationId })
        }).then((res) => {
            return res.json();
        }).then((f_res) => {
            if (f_res.code == 500) {
                // console.log(f_res.msg);
                Toastify({
                    text: f_res.msg,
                    duration: 2000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    avatar: "/images/success-icon.svg",
                    style: {
                        background: "#000000",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
            }
        })
    }

    function getNotifications() {
        fetch("http://localhost:3000/get-user").then((res) => {
            return res.json();
        }).then((f_res) => {
            if (f_res.code == 500) {
                // console.log(f_res.user)
                const notifications = f_res.user.notification.reverse();
                var contents = "";
                for (var i = 0; i < notifications.length; i++) {
                    const notification = notifications[i];
                    if (!notification.is_read) {
                        if (notification.type == "new_comment") {
                            contents += `<li><a class="dropdown-item" onclick="readNotification(this)" data-id="${notification._id}" href="/watch/${notification.video_watch}">${notification.content}</a></li>`;
                        }
                    }
                }
                document.getElementById("unread-notifications").innerHTML = contents;
            }
        })
    }
</script>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->