<div class="side-navbar d-flex flex-column" id="sidenav">
    <a class="sidenav-item" href="/">
        <img src="/images/home-icon.svg" class="sidenav-icon" alt="home">
        <p class="sidenav-text">Home</p>
    </a>
    <a class="sidenav-item">
        <img src="/images/upload-white.svg" class="sidenav-icon" alt="upload">
        <p class="sidenav-text">Upload Video</p>
    </a>
    <a class="sidenav-item">
        <img src="/images/history-white.svg" class="sidenav-icon" alt="history">
        <p class="sidenav-text">Watch History</p>
    </a>
    <a class="sidenav-item">
        <img src="/images/home-icon.svg" class="sidenav-icon" alt="home">
        <p class="sidenav-text">Home</p>
    </a>
</div>