<button class="subscribe-btn d-flex align-items-center justify-content-center" onclick="doSubscribe()">Subscribe</button>
<p class="subscriber-count"><span id="total-subscribers"><%= video.user.subscribers %></span> subscribers</p>

<script>
    const doSubscribe = () => {
        const subscribers = document.getElementById("total-subscribers");
        const videoId = document.getElementById("videoId").value;
        // document.getElementById("total-subscribers").innerHTML = subscribers.innerHTML;
        fetch("http://localhost:3000/do-subscribe", {
            method: "POST",
            headers: {
                "Content-Type" : "application/json"
            },
            body: JSON.stringify({videoId})
        }).then((res) => {
            return res.json();
        }).then((f_res) => {
            if (f_res.code == 300 || f_res.code == 400) {
                Toastify({
                    text: f_res.msg,
                    duration: 2000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    // avatar: "/images/error-icon.svg",
                    style: {
                        background: "#000000",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
            }
            else if (f_res.code == 500) {
                subscribers.innerHTML = parseInt(subscribers.innerHTML) + 1;
                Toastify({
                    text: f_res.msg,
                    duration: 2000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    avatar: "/images/success-icon.svg",
                    style: {
                        background: "#000000",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
            }
        })
    };
</script>