.sidenav-content {
    width: 100%;
}

.content-wrapper {
    width: 85%;
}

/* ----------------- watch history page ---------------- */
.history-main-div {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.watch-history-row {
    width: 100%;
    padding: 1rem;
}

.history-video-card {
    width: 18.5rem;
    /* height: 5rem; */
    border-radius: 4px;
    background-color: white;
    border: none !important;
    /* margin: 3rem; */
    box-shadow: 0px 0px 15px rgb(207, 206, 206);
}

.history-video-card-img {
    border-radius: 4px 4px 0 0;
    height: 12rem;
    width: 100%;
}

.history-video-card-body {
    background-color: white;
}

.history-video-card-title {
    margin: 0.3rem 0 0.1rem 0;
    font-size: 16px;
    font-weight: 700;
}

.history-video-card-text {
    margin: 0.1rem 0 0.1rem 0;
    font-size: 13px;
}

.history-video-card-views {
    margin: 0 0 0 0;
    font-size: 12px;
    color: rgb(148, 149, 154);
    font-weight: 600;
}

.history-video-card-post {
    margin: 0 0 0 0;
    font-size: 12px;
    color: rgb(148, 149, 154);
    font-weight: 600;
}

.progress-sm {
    height: 0.8rem !important;
    border-radius: 4px !important;
}

.history-calendar-icon {
    margin: 0.1rem 0.1rem 0 0.5rem;
    height: 15px;
    width: 15px;
}

.history-eye-icon {
    margin: 0.1rem 0.1rem 0 0;
    height: 15px;
    width: 15px;
}

.history-play-icon {
    height: 50px;
    width: 50px;
}

.history-video-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 31%;
    left: 50%;
    height: 61%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 0 0;
}

.history-video-card:hover .history-video-overlay {
    opacity: 1;
}

.history-video-time {
    position: absolute;
    top: 53.5%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 1.2rem;
    width: 2.8rem;
    margin: 0 0 0 0;
    background-color: rgb(220, 53, 69);
    color: white;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
}

.history-remove-icon {
    height: 27px;
    width: 27px;
    position: absolute;
    top: 1%;
    left: 91%;
}

/* ------------------ header ----------------- */
.header-start {
    height: 3.5rem;
    width: 100%;
    background-color: white;
}

.side-navbar-menu {
    width: 15%;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    transition: width 0.3s ease;
    padding: 0 0 0 1rem;
}

.side-navbar-menu-collapse {
    width: 6%;
    transition: width 0.3s ease;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    justify-content: center;
    margin: 0 0 0 0;
}

.menu-icon {
    height: 30px;
    width: 30px;
}

.header-website {
    width: 15%;
}

.header-website a {
    text-decoration: none;
}

.header-website-name {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 0;
    background-image: linear-gradient(51deg, rgb(63, 46, 130) 1%, rgb(126, 108, 199) 36%, rgb(206, 195, 252) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-search-bar {
    width: 40%;
}

.header-upload {
    width: 10%;
}

.header-notification {
    width: 5%;
}

.header-notification-icon {
    height: 20px;
    width: 20px;
}

.header-notification-counter {
    height: 1rem;
    width: 1.5rem;
    background-color: rgb(255, 81, 70);
    color: white;
    position: absolute;
    top: 1.2%;
    left: 82.7%;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-notification-dropdown-btn {
    border: none;
    background-color: transparent;
    color: rgb(138, 138, 138);
}

.header-myprofile {
    width: 15%;
}

/* ------------------- side navbar ------------------ */
.side-navbar {
    min-height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    width: 15%;
    transition: width 0.3s ease;
}

.side-navbar-collapse {
    min-height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    width: 6%;
    transition: width 0.3s ease;
}

.sidenav-item {
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.sidenav-item-collapse {
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav-item:hover {
    background-color: rgb(159, 107, 151, 0.4);
}

.sidenav-text {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0 0 0 0.5rem;
}

.sidenav-text-collapse {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0.2rem 0 0 0;
    text-align: center;
}

.sidenav-icon {
    height: 23px;
    width: 23px;
    margin: 0 0 0 0.2rem;
}

.sidenav-icon-collapse {
    height: 23px;
    width: 23px;
    margin: 0 0 0 1.1rem;
    text-align: center;
}