:root {
    --card-bg: #5d3fd3;
}

.main-div {
    height: 100vh;
    width: 100%;
}

.wrapper {
    height: 65%;
    width: 55%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px grey;
}

#error {
    padding: 20px 2rem 0 2rem;
}

#error-login {
    padding: 20px 2rem 0 2rem;
}

.login-row {
    height: 100%;
    width: 100%;
    margin-left: 0;
}

.signup-row {
    height: 100%;
    width: 100%;
    margin-left: 0;
}

.first-col {
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 0px 0px 8px;
}

.first-col-header {
    color: white;
    font-weight: 600;
}

.first-col-signup {
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 0px 0px 8px;
}

.header {
    margin-bottom: 0px;
    /* margin: 2rem 2rem 0rem 2rem; */
    padding: 2.5rem 2rem 0.5rem 2rem;
}

.content-wrapper {
    padding: 0 2rem 0 2rem;
}

.login-btn {
    margin-top: 3rem;
    background-color: #0c4af2;
    border: none;
    height: 2.2rem;
    width: 100%;
    border-radius: 2rem;
    font-size: 16px;
    color: white;
}

/* ----------- floating label ------------ */
.control-label-floating {
    display: block;
    font-size: 17px;
    transform: translateY(25px);
    color: #000000;
    transition: all 0.5s;
}

.form-control-floating {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 4px 0;
    font-size: 17px;
}

.form-group-floating {
    padding: 20px 0 0 0;
    position: relative;
}

.form-group-floating:after,
.form-group-floating:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #807c7c;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.form-group-floating::after {
    background-color: #0c4af2;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .control-label-floating {
    color: #355ac0;
}

.is-completed .control-label-floating {
    font-size: 14px;
    transform: translateY(0);
}

/* ------------------------------------------------------ */
/* ------------------------ header ---------------------- */
.navbar {
    background-color: #160a4c;
}

.nav-website-name {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 0;
    background-image: linear-gradient(51deg, rgb(63, 46, 130) 1%, rgb(126, 108, 199) 36%, rgb(206, 195, 252) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    color: white;
    font-size: 16px;
}

.nav-link:hover {
    color: #8466fa;
}

.nav-login-btn {
    height: 2.5rem;
    width: 5.5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 5rem;
    font-weight: bold;
}

.nav-login-btn:hover {
    color: white;
}

.nav-signup-btn {
    height: 2.5rem;
    width: 5.5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 5rem;
    font-weight: bold;
}

.nav-signup-btn:hover {
    color: white;
}

.nav-logout-btn {
    height: 2.5rem;
    width: 5.5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 5rem;
    font-weight: bold;
}

.nav-logout-btn:hover {
    color: white;
}

.nav-upload-btn {
    height: 2.5rem;
    width: 5.5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 5rem;
    font-weight: bold;
}

.nav-upload-btn:hover {
    color: white;
}

.index-div-text {
    padding-left: 4rem;
}

.heading1 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-bottom: 0;
}

.heading2 {
    font-size: 60px;
    font-weight: bolder;
    background-image: linear-gradient(51deg, rgb(63, 46, 130) 1%, rgb(173, 160, 227) 36%, rgb(245, 242, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.index-text {
    margin-top: 1rem;
    color: rgb(198, 186, 246);
    font-size: 17.5px
}

.index-btn {
    height: 3.5rem;
    width: 12rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 7rem;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
}

.dropdown-notification-btn {
    height: 2.5rem;
    width: 5.5rem;
    background-color: rgb(90, 59, 215, 0.4);
    border-radius: 8rem;
    border: none;
    color: #6845f6;
}

.notification-icon {
    height: 30px;
    width: 30px;
}

.history-icon {
    height: 27px;
    width: 27px;
}

.history-wrapper {
    height: 2.5rem;
    width: 7rem;
    background-color: rgb(90, 59, 215, 0.4);
    border-radius: 8rem;
}

.history-a {
    text-decoration: none;
    /* font-size: 17px; */
    font-weight: bold;
    color: white;
}
.history-a:hover {
    color: white;
}

/* --------------------- index page --------------------- */
/* .index-main-div {
    background-color: #160a4c;
    width: 100%;
}

.index-row {
    width: 100%;
    margin: 0 0 0 0;
}

.index-col-1 {
    height: 42.2rem;
    width: 50%;
}

.index-col-2 {
    height: 42.2rem;
    width: 50%;
} */

.index-main-div-auth {
    height: auto;
    width: 100%;
    min-height: 42.2rem;
    background-color: #160a4c;
}

.index-main-div-auth-row {
    width: 100%;
    padding: 2.5rem 2.2rem 2.2rem 2.2rem;
    row-gap: 3rem;
}

/* .index-main-div-auth-col {
} */

/* card */
.index-card {
    width: 18.5rem;
    border: none;
    border-radius: 1rem;
    /* height: 20rem; */
}

.index-card-img-top {
    height: 15rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    /* object-fit: fill; */
}

.video-duration {
    text-align: center;
    margin-bottom: 0;
    background-color: var(--card-bg);
    color: white;
    font-weight: bold;
}

.index-card-body {
    background-color: var(--card-bg);
}

.index-card-title {
    color: white;
}

.index-card-text {
    color: white;
}

.index-card-footer {
    background-color: var(--card-bg);
    padding: 0;
    border: none;
    border-radius: 0 0 1rem 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video-icon {
    height: 30px;
    width: 30px;
}

.watch-btn {
    height: 2.5rem;
    width: 11rem;
    color: white;
    background: #b09ef5;
    border-radius: 5rem;
    font-weight: bold;
    border: none;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 1rem;
}

.watch-btn:hover {
    background-color: #b09ef5;
    color: white;
}

/* .index-img {
    height: 40rem;
    width: 90%;
} */
/* ------------------------------------------------------ */
/* --------------------- upload page -------------------- */
.upload-main-div {
    background-color: #160a4c;
    width: 100%;
}

.upload-row {
    width: 100%;
}

.upload-col-1 {
    height: 42.2rem;
    width: 50%;
}

.upload-col-2 {
    height: 42.2rem;
    width: 50%;
}

.upload-wrapper-2 {
    width: 80%;
}

.upload-img {
    height: 670px;
    width: 670px;
}

.upload-img-2 {
    height: 670px;
    width: 670px;
    padding-left: 2rem;
}

.row-1 {
    margin-bottom: 1.2rem;
}

.upload-header {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-bottom: 2.3rem;
}

.circle-icon {
    height: 30px;
    width: 30px;
}

.upload-sub-heading {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 0.6rem;
}

.upload-input {
    background-color: #b3a2fa;
    border-color: #6d52da;
    margin-bottom: 1.2rem;
}

.upload-input:focus {
    border-color: #6d52da;
    box-shadow: 0 0 0 0.25rem #b3a2fa;
}

textarea {
    resize: none;
}

.form-select {
    background-color: #b3a2fa;
    border-color: #6d52da;
    margin-bottom: 1.2rem;
}

.form-select:focus {
    background-color: white;
    border-color: #6d52da;
    box-shadow: 0 0 0 0.25rem #b3a2fa;
}

/* .form-select option:hover {
    background-color: #6845f6 !important;
} */

.upload-btn {
    height: 2.7rem;
    width: 8rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 6rem;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

/* drag drop zone */
#drag-drop-zone {
    width: 300px;
    height: 200px;
    border: 2px dashed #6845f6;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#drag-drop-zone:hover {
    background-color: #6d52da;
}

#drag-drop-zone-img {
    width: 300px;
    height: 200px;
    border: 2px dashed #6845f6;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#drag-drop-zone-img:hover {
    background-color: #6d52da;
}

#video-wrapper {
    width: 300px;
    height: 200px;
    display: none;
    border-radius: 8px;
}

.uploaded-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px dashed #6845f6;
    border-radius: 8px;
}

#image-wrapper {
    width: 300px;
    height: 200px;
    display: none;
    border-radius: 8px;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border: 2px dashed #6845f6;
    border-radius: 8px;
}

.drag-drop-text {
    font-size: 16px;
    margin-bottom: 0;
    color: white;
}

#upload-button {
    height: 2rem;
    width: 5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 7rem;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0.5rem;
}

#upload-button-img {
    height: 2rem;
    width: 5rem;
    color: white;
    border: none;
    background: #6845f6;
    border-radius: 7rem;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.upload-icon {
    height: 50px;
    width: 50px;
    color: #6845f6;
}

#file-input {
    display: none;
}

#file-input-img {
    display: none;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------ watch-video page ---------------------------- */
.video-main-div {
    min-height: 42.2rem;
    width: 100%;
    background-color: #160a4c;
    /* padding-left: 4rem; */
}

#videoPlayer {
    height: 30rem;
    width: 95%;
    margin: 2rem 0 1rem 0;
    object-fit: fill;
}

.video-title {
    color: white;
    margin: 0 0 0 0;
}

.video-uploader-name {
    color: white;
    font-size: 16px;
    margin: 0.2rem 0 1rem 0;
}

.video-page-row {
    width: 95%;
}

.blank1 {
    width: 95%;
    border-top: 2px solid #8466fa;
}

.video-stuff {
    margin: 1rem 0 1rem 0;
    width: 95%;
}

.video-views {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.video-category {
    color: white;
    font-size: 18px;
    margin: 1rem 0 0.5rem 0;
}

.video-description {
    color: white;
    font-size: 18px;
    margin: 0 0 1rem 0;
}

.eye-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 3px;
}

.video-posted-on {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.like-btn {
    height: 2.5rem;
    width: 5rem;
    border: none;
    background-color: rgba(85, 75, 133, 0.4);
    color: white;
    border-radius: 0.3rem;
}

.like-icon {
    height: 30px;
    width: 30px;
    margin-top: 0.2rem;
}

.like-count {
    font-size: 19px;
    margin-top: 0.25rem;
}

.comment {
    width: 95%;
    height: 13rem;
    border: 1px solid #8466fa;
    margin: 0.5rem 0 0 0;
    background-color: rgba(85, 59, 198, 0.2);
    padding: 2rem;
    border-radius: 0.5rem;
}

.comment-heading {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0 0 0.5rem 0;
}

.comment-text {
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.comment-btn {
    margin: 0 0 0 0;
    height: 60%;
    width: 15%;
    background-color: rgba(126, 98, 236, 0.4);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.comment-img {
    height: 80px;
    width: 80px;
    border: 1px solid rgba(126, 98, 236, 0.4);
    border-radius: 4px;
}

.comment-details {
    margin: 1rem 0 1rem 0;
}

.comment-body {
    margin: 0 0 0 0.5rem;
}

.comment-body-username {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
}

.comment-body-text {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
    /* font-weight: 300; */
}

.reply-img {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(126, 98, 236, 0.4);
    border-radius: 4px;
}

.reply-details {
    padding: 0 0 0 0.7rem;
    margin: 1rem 0 1rem 0;
}

.reply-body {
    margin: 0 0 0 0.5rem;
}

.reply-body-username {
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
}

.reply-body-text {
    font-size: 14px;
    color: white;
    margin-bottom: 0;
    /* font-weight: 300; */
}

.reply-btn-wrapper {
    padding: 0 0 0 5rem;
}

.reply-btn {
    margin: 0 0 0 0;
    height: 2rem;
    width: 4rem;
    background-color: rgba(126, 98, 236, 0.4);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-btn:hover {
    color: white;
    background-color: rgba(126, 98, 236, 0.4);
}

.reply-node-container {
    width: 50%;
    height: 9rem;
    display: none;
}

.reply-node {
    width: 100%;
    height: 100%;
    border: 1px solid #8466fa;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgba(85, 59, 198, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
}

.reply-node-heading {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0 0 0.5rem 0;
}

.reply-node-text {
    margin: 0 0 0.5rem 0;
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 2rem;
}

.reply-node-btn {
    margin: 0.2rem 0 0.5rem 0;
    height: 2rem;
    width: 4rem;
    background-color: rgba(126, 98, 236, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply-node-btn:hover {
    color: white;
    background-color: rgba(126, 98, 236, 0.4);
}

/* subscribe.ejs */
.subscribe-btn {
    height: 2.5rem;
    width: 6rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    /* transition: all ease .7s; */
    color: white;
    background-color: rgba(133, 106, 238, 0.3);
    font-size: 16px;
    font-weight: 600;
}

.subscriber-count {
    margin: 0.5rem 0 0 0.5rem;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.video-wrapper {
    padding-left: 4rem;
    width: 70%;
}

/* related-videos */
.side-bar {
    width: 30%;
    height: 100vh;
    margin: 2rem 4rem 0 1rem;
}

.related-videos {
    width: 100%;
    border: 1px solid rgb(114, 65, 228);
    height: 100%;
    border-radius: 0.5rem;
    /* background-color: rgb(104, 69, 246, 0.4); */
}

.related-videos-header {
    color: white;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 0 0 0;
    background-color: rgba(94, 67, 198, 0.4);
    border-radius: 0.5rem 0.5rem 0 0;
}

.show-related-videos {
    width: 100%;
    height: 40rem;
    overflow-y: scroll;
}

.related-videos-card {
    margin: 1.5rem 0.5rem 0 0.5rem;
    width: 90%;
    height: 10rem;
    border: 1px solid rgb(114, 65, 228, 0.4);
    border-radius: 0.5rem;
    background-color: rgb(132, 102, 250, 0.2);
}

.related-videos-card-row {
    width: 100%;
    height: 10rem;
}

.related-videos-card-col {
    height: 100%;
}

.related-videos-card-img {
    height: 100%;
    width: 100%;
}

.related-videos-card-body {
    padding: 1rem;
}

.related-videos-card-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.related-videos-card-title:hover {
    text-decoration: underline rgb(117, 92, 207);
}

.related-videos-card-text {
    color: white;
    font-size: 15px;
}

/* scrollbar */
.show-related-videos::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(22, 10, 76);
}

.show-related-videos::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(132, 102, 250, 0.2);
}

.show-related-videos::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #8d80e4;
}