/* ----------------- watch history page ---------------- */
.history-main-div {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.history-video-card {
    width: 18.5rem;
    /* height: 5rem; */
    border-radius: 4px;
    background-color: white;
    border: none !important;
    margin: 3rem;
    box-shadow: 0px 0px 15px rgb(207, 206, 206);
}

.history-video-card-img {
    border-radius: 4px 4px 0 0;
    height: 12rem;
    width: 100%;
}

.history-video-card-body {
    background-color: white;
}

.history-video-card-title {
    margin: 0.3rem 0 0.1rem 0;
    font-size: 16px;
    font-weight: 700;
}

.history-video-card-text {
    margin: 0.1rem 0 0.1rem 0;
    font-size: 13px;
}

.history-video-card-views {
    margin: 0 0 0 0;
    font-size: 12px;
    color: rgb(148, 149, 154);
    font-weight: 600;
}

.history-video-card-post {
    margin: 0 0 0 0;
    font-size: 12px;
    color: rgb(148, 149, 154);
    font-weight: 600;
}

.progress-sm {
    height: 0.8rem !important;
    border-radius: 4px !important;
}

.history-calendar-icon {
    margin: 0.1rem 0.1rem 0 0.5rem;
    height: 15px;
    width: 15px;
}

.history-eye-icon {
    margin: 0.1rem 0.1rem 0 0;
    height: 15px;
    width: 15px;
}

.history-play-icon {
    height: 50px;
    width: 50px;
}

.history-video-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 31%;
    left: 50%;
    height: 61%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 0 0;
}

.history-video-card:hover .history-video-overlay {
    opacity: 1;
}

.history-video-time {
    position: absolute;
    top: 53.5%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 1.2rem;
    width: 2.8rem;
    margin: 0 0 0 0;
    background-color: rgb(220, 53, 69);
    color: white;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
}

.history-remove-icon {
    height: 27px;
    width: 27px;
    position: absolute;
    top: 1%;
    left: 91%;
}

/* ------------------ header ----------------- */
.menu-icon {
    height: 30px;
    width: 30px;
}

/* ------------------- side navbar ------------------ */
.side-navbar {
    min-height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    width: 15%;
    transition: width 0.3s ease;
}

.side-navbar-collapse {
    min-height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    width: 6%;
    transition: width 0.3s ease;
}

.sidenav-item {
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.sidenav-item-collapse {
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav-item:hover {
    background-color: rgb(159, 107, 151, 0.4);
}

.sidenav-text {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0 0 0 0.5rem;
}

.sidenav-text-collapse {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0.2rem 0 0 0;
    text-align: center;
}

.sidenav-icon {
    height: 23px;
    width: 23px;
    margin: 0 0 0 0.2rem;
}

.sidenav-icon-collapse {
    height: 23px;
    width: 23px;
    margin: 0 0 0 1.1rem;
    text-align: center;
}